@model Employee
@{
    ViewData["Title"] = "Details";
}
<partial name="_EmpCardPartial"/>
<a href="/Employee/Edit/@Model.Id">Edit</a>
<a href="/Employee/index">Index</a>
















@* 
<h1>Details</h1>
<h2 style="color:@ViewData["Color"]">@Model.Name</h2>
<h3>@Model.Address</h3>
<img src="/images/@Model.ImageURL" style="width:100px" />

<hr />
<h3>@(int.Parse(ViewData["Temp1"].ToString())+10)</h3>
<h3>@(ViewBag.Temp1 + 10)</h3>



<hr />
<h3>@ViewData["Msg"]</h3>
<hr />
<select class="form form-control">
    @foreach (var item in (List<string>)ViewData["Brch"])//unbox
    {
        <option>@item</option>
    }
</select>
<select class="form form-control">
    @foreach (var item in ViewBag.Brch)//unbox
    {
        <option>@item</option>
    }
</select>
<hr />
<h3>@ViewBag.xyz</h3>
<h3>@ViewData["xyz"]</h3>

<a href="/Employee/Index">Back To List</a>
<hr />
 *@
<!--
    1) Magic String (Key) must be right and found  key 
    2-1) unBoxing(type CAsting)
    2-2) viewbag throw exception
    3) Scop Send data through one request from action to returned view 
-->